<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 bg-light shadow  text-dark mt-4">
            <h2 class="text-center login-title">Sign up form</h2>

            <div id="client-error">
                <strong></strong>
            </div>

            {{#if error}}
            <div class="alert alert-danger">
                <strong>{{error}}</strong>
            </div>
            {{/if}}


            <form class="form-signin" id="signup" method="POST"
                action="/resturant/signup">
                <input name="name" type="text" class="form-control"
                    placeholder="full name" autofocus>
                <input name="email" type="text" class="form-control"
                    placeholder="Email">
                <input name="password" type="password" class="form-control"
                    placeholder="Password">
                <input name="password1" type="password" class="form-control"
                    placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign up</button>

            </form>
            <a href="/resturant/login" class="text-center new-account">Already
                have an account please login </a>
        </div>
    </div>
</div>
<script src="../js/signup.js"></script>