


 <div class="row"  style="background:transparent url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80') no-repeat center center /cover">
        <div class="col-12 ">
            <br><br><br><br><br><br><br><br><br>
            <form action="/home">
            <input list="cities" name="city"  placeholder="Search your City" class="custom-select-lg mx-auto d-block">
  <datalist id="cities">

  </datalist>
  
 <button class="btn btn-lg btn-primary mx-auto d-block" type="submit">
                    Search</button>
<br><br><br><br><br><br><br><br><br><br><br>
</form>
        </div>
    </div>











   <script src="js/welcome.js"></script>